<header>
    <div class="container2">
        <h1 style="text-align: center; margin-bottom: 10px;"><img class="a" img src="assets/img/10500.gif" style=width:75px;height:75px> Age of Carpincho <img class="a" img src="assets/img/10500.gif" style=width:75px;height:75px></h1>
        <nav>
            <p style="text-align: center;">
                <a routerLink="/elorating">Elo Rating</a>
                <a routerLink="/amount">Amount of played matches</a>
                <a routerLink="/mostusedciv">Most used civ</a>
            </p>
        </nav>
    </div>
</header>
