<div class="container2">
    <h2 style="padding:-40px">Civs used by player</h2>
    <p>in the last 20 matches</p>
    <div id="containercivs">
        <div style="margin: 2px"><h3>Nanox</h3><iframe class="framesp" scrolling="no" style="border:none;" seamless="seamless" src="assets/charts/civs_nano.html" height="350" width="400"></iframe></div> 
        <div style="margin: 2px"><h3>alanthekat</h3><iframe class="framesp" scrolling="no" style="border:none;" seamless="seamless" src="assets/charts/civs_alan.html" height="350" width="400"></iframe></div> 
        <div style="margin: 2px"><h3>dicopatito</h3><iframe class="framesp" scrolling="no" style="border:none;" seamless="seamless" src="assets/charts/civs_dico.html" height="350" width="400"></iframe></div>
    </div>
</div>