/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}

* {
	font-family: monospace;
	text-decoration:none;
	text-align: center;
	color: #FFFFFF;
}

body{
    font-family: sans-serif;
    color: #6f88fc;
    background-color:black;
    background-image: url('assets/img/bgage.jpg');
    background-size: cover;
}

h1 {
    color: white;
    font-family: monospace;
    font-size: 350%;
    align-items: center;
    justify-content: bottom;
    padding: 10px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    }
.container{
    max-width: 90%;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    background: rgba(29, 32, 38, 0.5);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container2{
    max-width: 90% auto;
    margin: 30px;
    overflow: auto;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
}

.container3{
    margin: 30px auto;
    overflow: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#containercivs {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (max-width: 800px) {
    #containercivs {
        justify-content: center;
        display: block;
    }
    .framesp {
        height: 100%;
        width: 100%;
    }
    .frameschart {
        height: 300px;
        width: 400px;
    }
    .a { /*No mostrar los gifs del título */
        display: none;
    }
  }
